.env
data/
whisper.py
__pycache__
__pycache__/*
tmp/
web/
data/
.cache/
update_fudstop.py
environment.yml
.env
dist/
build/
.Python
*.egg-info/
cogs/
git-filter-repo
gpts/
qfpewfoewk.py
app.py
templates/
waitress_server
dump/